<div class="r t-rec t-rec_pt_75 t-rec_pb_0"
     style="padding-top:75px;padding-bottom:0px;background-color:#f3f3f9; " data-record-type="60"
     data-bg-color="#f3f3f9" data-animationappear="off">
    <div class="t050">
        <div class="t-container t-align_center">
            <div class="t-col t-col_10 t-prefix_1"><h2 class="t050__title t-title t-title_xxl" field="title"
                                                       style="color:#0f0f0f;font-size:40px;font-weight:700;font-family:'Montserrat';">
                    Решаемые проблемы</h2></div>
        </div>
    </div>
</div>
<div class="r t-rec t-rec_pt_45 t-rec_pb_75"
     style="padding-top:45px;padding-bottom:75px;background-color:#f3f3f9; " data-record-type="539"
     data-bg-color="#f3f3f9" data-animationappear="off"><!-- t539 -->
    <div class="t539" style="visibility: visible;">
        <div class="t539__container t-container">
            <div class="t539__col t-col t-col_4 t539__col-mobstyle t539__col_odd t-animate t-animate__chain_first-in-row t-animate_started t-animate__chain_showed"
                 data-animate-style="fadeinup" data-animate-chain="yes" data-animate-start-time="1633457112467"
                 style="transition-delay: 0s;">
                <div class="t539__itemwrapper t539__itemwrapper_3">
                    <div class="t539__bgimg t-bgimg loaded" bgimgfield="li_img__1478185125761"
                         data-original="{{ asset('images/icons/desc1.svg') }}"
                         style="background-image: url({{ asset('images/icons/desc1.svg') }}); padding-bottom: 22.2222%;"
                         data-image-width="360" data-image-height="80"></div>
                    <div class="t539__textwrapper t539__textwr-padding t-align_left" style="height: 327px;">
                        <div class="t539__persname t-name t-name_lg t539__bottommargin_sm"
                             style="color:#0f0f0f;font-size:20px;font-weight:700;font-family:'Montserrat';"
                             field="li_persname__1478185125761">
                            <div style="line-height:24px;" data-customstyle="yes">Проблема 1<br><br></div>
                        </div>
                        <div class="t539__persdescr t-descr t-descr_xxs "
                             style="color:#0f0f0f;font-size:14px;font-weight:400;" field="li_persdescr__1478185125761">
                            <u></u>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="t539__col t-col t-col_4 t539__col-mobstyle t539__col_even t-animate t-animate_started"
                 data-animate-style="fadeinup" data-animate-chain="yes" data-animate-start-time="1633457112627"
                 style="transition-delay: 0.16s;">
                <div class="t539__itemwrapper t539__itemwrapper_3">
                    <div class="t539__bgimg t-bgimg loaded" bgimgfield="li_img__1478185134628"
                         data-original="{{ asset('images/icons/desc1.svg') }}"
                         style="background-image: url({{ asset('images/icons/desc1.svg') }}); padding-bottom: 22.2222%;"
                         data-image-width="360" data-image-height="80"></div>
                    <div class="t539__textwrapper t539__textwr-padding t-align_left" style="height: 327px;">
                        <div class="t539__persname t-name t-name_lg t539__bottommargin_sm"
                             style="color:#0f0f0f;font-size:20px;font-weight:700;font-family:'Montserrat';"
                             field="li_persname__1478185134628">
                            <div style="line-height:24px;" data-customstyle="yes">Проблема 2<br><br></div>
                        </div>
                        <div class="t539__persdescr t-descr t-descr_xxs "
                             style="color:#0f0f0f;font-size:14px;font-weight:400;" field="li_persdescr__1478185134628">
                            <div style="line-height:26px;" data-customstyle="yes">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="t539__col t-col t-col_4 t539__col-mobstyle t539__col_odd t-animate t-animate_started"
                 data-animate-style="fadeinup" data-animate-chain="yes" data-animate-start-time="1633457112787"
                 style="transition-delay: 0.32s;">
                <div class="t539__itemwrapper t539__itemwrapper_3">
                    <div class="t539__bgimg t-bgimg loaded" bgimgfield="li_img__1478185141888"
                         data-original="{{ asset('images/icons/desc1.svg') }}"
                         style="background-image: url({{ asset('images/icons/desc1.svg') }}); padding-bottom: 22.2222%;"
                         data-image-width="360" data-image-height="80"></div>
                    <div class="t539__textwrapper t539__textwr-padding t-align_left" style="height: 327px;">
                        <div class="t539__persname t-name t-name_lg t539__bottommargin_sm"
                             style="color:#0f0f0f;font-size:20px;font-weight:700;font-family:'Montserrat';"
                             field="li_persname__1478185141888">
                            <div style="line-height:24px;" data-customstyle="yes">Проблема 3<br><br>
                            </div>
                        </div>
                        <div class="t539__persdescr t-descr t-descr_xxs "
                             style="color:#0f0f0f;font-size:14px;font-weight:400;" field="li_persdescr__1478185141888">
                            <div style="line-height:26px;" data-customstyle="yes">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="t539__separator t-clear" style=""></div>
        </div>
    </div>
</div>