<!doctype html>
<html lang="ru">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('images/favicon.svg') }}" type="image/png">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">

        <link rel="stylesheet" href="{{ asset('css/efsol/bootstrap-grid.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/efsol/guides.css') }}">
        <link rel="stylesheet" href="{{ asset('css/efsol/header-footer.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/efsol/style.min.css') }}">

        <script src="{{ asset('js/vendor/modernizr-3.6.0.min.js') }}"></script>
        <script src="{{ asset('js/vendor/jquery-1.12.4.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/scrolling-nav.js') }}"></script>

        <script src="{{ asset('js/efsol/ApplicationPopup.min.js') }}"></script>
        <script src="{{ asset('js/efsol/mobileMenu.min.js') }}"></script>
        <script src="{{ asset('js/efsol/clipboard.min.js') }}"></script>
        <script src="{{ asset('js/efsol/new_common.min.js') }}"></script>
        <script src="{{ asset('js/efsol/select2.full.min.js') }}"></script>
        <script src="{{ asset('js/efsol/jquery.reject.min.js') }}"></script>

        <script src="{{ asset('js/jquery.redirect.js') }}"></script>
        <script src="{{ asset('js/main.js') }}"></script>
        <script src="{{ asset('js/general.js') }}"></script>
    {% endblock %}
</head>
<body>
{% block header %}
{% endblock %}
{% block content %}
{% endblock %}
{% block footer %}
    <footer id="footer" class="footer-area">
        <div class="footer-widget pt-130 pb-130">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="footer-content text-center">
                            <img src="{{ asset('images/logo2.png') }}" alt="Logo">
                            <p class="mt-">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor
                                inci- didunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exe-
                                rcitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <ul>
                                <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                                <li><a href="#"><i class="lni-twitter-original"></i></a></li>
                                <li><a href="#"><i class="lni-pinterest"></i></a></li>
                                <li><a href="#"><i class="lni-linkedin-original"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright pb-20">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright-text text-center pt-20">
                            <p>Copyright © 2021.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
</body>
</html>