<!doctype html>
<html lang="ru">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>EFSOL Vulnerability Scanner</title>
        <!-- Favicons -->
        <link rel="icon" href="{{ asset('images/favicon.svg') }}" sizes="any" type="image/svg+xml">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('images/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('images/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('images/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('images/favicon/site.webmanifest') }}">
        <link rel="mask-icon" href="{{ asset('images/favicon/safari-pinned-tab.svg') }}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <!-- End Favicons-->

        <link rel="stylesheet" href="https://cdn.envybox.io/widget/cbk.css">

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="robots" content="index, follow"/>
        <meta name="description" content="Сервис Efsol VulnerabilityScanner"/>

        <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,500i,600,700,700i,800,900"
              rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"
              data-template-style="true">
        <link type="text/css" rel="stylesheet" href="{{ asset('css/jquery.fancybox.min.css') }}"
              data-template-style="true">

        <link type="text/css" rel="stylesheet" href="{{ asset('css/tilda/tilda-cover-1.0.min.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('css/tilda/tilda-forms-1.0.min.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('css/tilda/tilda-grid-3.0.min.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('css/tilda/tilda-blocks-2.14.css') }}">

        <link type="text/css" rel="stylesheet" href="{{ asset('css/general.css') }}"
              data-template-style="true">
        <link type="text/css" rel="stylesheet" href="{{ asset('css/main.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('css/guides.css') }}"
              data-template-style="true">

        <script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery-ui.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery.fancybox.min.js') }}"></script>

        <script type="text/javascript" src="{{ asset('js/jquery.redirect.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/kube.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/general.js') }}"></script>

        <script type="text/javascript" src="{{ asset('js/tilda/tilda-cover-1.0.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/tilda/tilda-forms-1.0.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/tilda/tilda-scripts-3.0.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/tilda/tilda-blocks-2.7.js') }}"></script>

    {% endblock %}
</head>
<body id="top_page" class="body" style="--envybox-btn-background-color:rgba(255,222,0,0.95);">
<div class="b-page">
    {% block header %}
        {% include 'landing/blocks/header.html.twig' %}
    {% endblock %}
    {% block content %}
    {% endblock %}
    {% block footer %}
        {% include 'landing/blocks/footer.html.twig' %}
    {% endblock %}
    {% block modal %}
        {% include 'landing/blocks/modal.html.twig' %}
    {% endblock %}
</div>
</body>
</html>