{% extends 'landing/base.html.twig' %}

{% block title %}Главная{% endblock %}

{% block header %}
    <header class="b-stripe b-stripe_content_header">
        <div class="b-stripe__in">
            <!-- mobile -->
            <div class="b-stripe b-stripe_content_mheader">
                <div class="b-stripe b-stripe_content_mheader">
                    <div class="b-stripe__in">
                        <div class="b-content-columns b-content-columns_content_mheader">
                            <div class="b-content-column b-content-column_layout_a">
                                <div class="b-content-column__in">
                                    <img src="{{ asset('images/logo.png') }}" alt="Logo">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- desktop -->
            <div class="b-stripe b-stripe_content_bheader">
                <div class="b-stripe__in">
                    <div class="b-content-columns b-content-columns_content_section-menu">
                        <div class="b-content-column b-content-column_layout_a">
                            <div class="b-content-column__in">
                                <img src="{{ asset('images/logo.png') }}" alt="Logo">
                            </div>
                        </div>

                            <div class="b-content-column b-content-column_layout_b">
                                <div class="b-content-column__in">
                                    <nav class="b-menu b-menu_content_section">
                                        <ul class="b-menu__list">
                                            <li class="b-menu__item ">
                                                <a class="b-menu__item-text" href="#scanner" title="Сканировать">
                                                    Сканировать
                                                </a>
                                            </li>

                                            <li class="b-menu__item ">
                                                <a class="b-menu__item-text" href="#description" title="Описание решаемых
                                            проблем">
                                                    Описание решаемых проблем
                                                </a>
                                            </li>

                                            <li class="b-menu__item ">
                                                <a class="b-menu__item-text" href="#possibilities" title="Возможности
                                            продукта">
                                                    Возможности продукта
                                                </a>
                                            </li>

                                            <li class="b-menu__item ">
                                                <a class="b-menu__item-text" href="#contacts" title="Контакты">
                                                    Контакты
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </header>
{% endblock %}

{% block content %}
    {% include 'landing/blocks/functional.html.twig' %}

    {% include 'landing/blocks/description.html.twig' %}

    {% include 'landing/blocks/possibilities.html.twig' %}

    {% include 'landing/blocks/contacts.html.twig' %}

{% endblock %}

{% block footer %}
    <footer class="navbar navbar-bottom" role="contentinfo">
        <div class="b-stripe__in">
            <div class="footer-menu">
                <div class="bread__crumbs flex">
                    <span class="b-logo__image__footer"></span>
                </div>
                <div class="footer-row flex">
                    <div class="footer-col">
                        <h3>Поддержка клиентов</h3>
                        <ul>
                            <li><a href="https://efsol.ru/pics/Image/er_soft_ISO.pdf" class="fancybox">ISO 9001:2015</a>
                            </li>
                            <li><a href="https://efsol.ru/promo/methods-of-work.html">Технологии работы</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h3>Полезная информация</h3>
                        <ul>
                            <li><a href="https://efsol.ru/promo/">Промо-страницы</a></li>
                            <li><a href="https://efsol.ru/manuals/">Инструкции</a></li>
                            <li><a href="https://efsol.ru/articles/">Статьи</a></li>
                            <li><a href="https://efsol.ru/news/">Новости</a></li>
                            <li>
                                <a href="https://1c.ru/ftp/pub/pricelst/price_1c.zip" rel="nofollow" target="_blank">Прайс-лист
                                    1С</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h3>Компания</h3>
                        <ul>
                            <li><a href="https://efsol.ru/company/about.html">О компании</a></li>
                            <li><a href="https://efsol.ru/reviews/">Отзывы</a></li>
                            <li><a href="https://efsol.ru/services/moscow.html">Услуги</a></li>
                            <li><a href="https://efsol.ru/company/vacancy.html">Вакансии</a></li>
                            <li><a href="mailto:staff@efsol.ru"
                                   onmouseover="$(this).attr('href', 'mailto:staff@efsol.ru')"
                                   onclick="try{yaCounter213614.reachGoal('CLICK_RESUME');}catch(e){}">Отправить
                                    резюме</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h3>Контакты</h3>
                        <ul>
                            <li><a href="tel:+74952300303" class="phone--footer" style="font-weight: 600;">+7&nbsp;495&nbsp;230&nbsp;03&nbsp;03</a>
                            </li>
                            <li><a href="mailto:efsol@efsol.ru" class="b-menu__item-text b-link mail__footer"
                                   onmouseover="$(this).attr('href', 'mailto:efsol@efsol.ru')"
                                   onclick="try{yaCounter213614.reachGoal('CLICK_MAILTO');}catch(e){}">efsol@efsol.ru</a>
                            </li>
                        </ul>
                        <style>
                            .social-links {
                                margin-top: 1rem;
                            }

                            .social-links__link {
                                transition: all ease .24s;
                                display: flex;
                                margin-right: .25rem;
                                margin-bottom: .25rem;
                            }

                            .social-links__link img {
                                max-width: 40px;
                            }

                            .social-links__link:hover {
                                transform: scale(.96);
                            }
                        </style>
                        <div class="social-links flex">
                            <a href="//www.linkedin.com/company/efsol-ru/" rel="nofollow" target="_blank"
                               class="social-links__link"><img
                                        src="{{ asset('images/efsol/social/social-icon--in.svg') }}" alt=""
                                        class="social-links__logo"></a>
                            <a href="//www.instagram.com/accounts/login/?next=/efsol.ru/" rel="nofollow" target="_blank"
                               class="social-links__link"><img
                                        src="{{ asset('images/efsol/social/social-icon--insta.svg') }}" alt=""
                                        class="social-links__logo"></a>
                            <a href="//www.facebook.com/efsol.ru" rel="nofollow" target="_blank"
                               class="social-links__link"><img
                                        src="{{ asset('images/efsol/social/social-icon--fb.svg') }}" alt=""
                                        class="social-links__logo"></a>
                            <a href="//www.youtube.com/channel/UCB0npNV2HyZgb3lOLh11D0w" rel="nofollow" target="_blank"
                               class="social-links__link"><img
                                        src="{{ asset('images/efsol/social/social-icon--youtube.svg') }}" alt=""
                                        class="social-links__logo"></a>
                            <a href="//vk.com/efsolofficial" rel="nofollow" target="_blank"
                               class="social-links__link"><img
                                        src="{{ asset('images/efsol/social/social-icon--vk.svg') }}" alt=""
                                        class="social-links__logo"></a>
                            <a href="//t.me/efsolru" rel="nofollow" target="_blank" class="social-links__link"><img
                                        src="{{ asset('images/efsol/social/social-icon--tg.svg') }}" alt=""
                                        class="social-links__logo"></a>
                            <a href="//zen.yandex.ru/id/5f73541cb7327a61f466fab8" rel="nofollow" target="_blank"
                               class="social-links__link"><img
                                        src="{{ asset('images/efsol/social/social-icon--zen.svg') }}" alt=""
                                        class="social-links__logo"></a>
                            <a href="//ok.ru/group/58206054580239" rel="nofollow" target="_blank"
                               class="social-links__link"><img
                                        src="{{ asset('images/efsol/social/social-icon--ok.svg') }}" alt=""
                                        class="social-links__logo"></a>
                        </div>
                    </div>

                </div>

            </div>

            <div class="footer--down flex">
                <ul>
                    <li class="b-list__item">
                        <a href="https://efsol.ru/privacy-policy.php">Политика конфиденциальности</a>
                    </li>


                    <li class="b-list__item">
                        <span class="b-copyrigth">©&nbsp;EFSOL&nbsp;{{ year }}.&nbsp;Все права защищены</span>
                    </li>
                    <li class="b-list__item">
                        <a href="https://efsol.ru/cookie.php">Временные файлы cookie</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
{% endblock %}